.dashboard-wrapper
  margin-top 50px

mat-form-field 
  width 100%

.git-view 
  margin-bottom 15px
  mat-card
    display flex
    align-items center
    justify-content space-between
    .git-avatar
      height 60px
      width 60px
      border-radius 50%
      background-color #78e
      background-position center
      background-size cover
      background-repeat no-repeat
    .git-name
      font-size 17px
      font-weight 600
      margin-left 15px
      color #696969

.git-repos
  mat-card
    display flex
    justify-content space-between
    margin-bottom 10px
  
.git-repo
  &-name
    font-weight 300
    margin-right 10px
  &-language
    font-weight 600
  &-last-date
    font-weight 100
    margin-left 10px
.git-right
  display flex
  align-items center
  button 
    margin-left 5px
.git-left
  display flex
  align-items center